h2 {
    text-align: center;
    padding: 20px 0;
}

.table-responsive {
    display: flex;
    justify-content: center;
}

.table-bordered {
    border: 1px solid black !important;
    border-collapse: collapse;
    width: 100%;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
    padding: 8px;
}

.table-bordered tr {
    border-bottom: 1px solid black;
}

.table {
    margin: 0 auto;
    width: 80%;
}

.p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
}

thead tr {
    font-weight: bold;
    background-color: rgb(182, 218, 183);
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}